section article #imagen {
    /* font-size: 7rem; */
    width: 45rem;
}

main {
    height: 70vh;
}
/* #coffee {
    font-size: 3rem;
} */

#coffee {
    font-size: 4rem;
}

.icon-coffee {
    width: 5rem;
}

.uwu {
    cursor: pointer;
}

.footer {
    height: 5rem;
    bottom: 0;
}